*.sublime-workspace
*.lnk
*.user
*.vs/
PlaylistGenerator/Music/*
PlaylistGenerator/Playlists/*
PlaylistGenerator/PlaylistGenerator/AlbumList/build
PlaylistGenerator/PlaylistGenerator/Playlist/build
WebServiceTest/ASP.Net/webservice/webservice/Properties/PublishProfiles/
WebServiceTest/ASP.Net/webservicecaller/Library
WebServiceTest/ASP.Net/webservicecaller/webservicecaller.CSharp.csproj
WebServiceTest/ASP.Net/webservicecaller/webservicecaller.sln
WebServiceTest/ASP.Net/webservice/packages
WebServiceTest/ASP.Net/webservice/webservice/bin
WebServiceTest/ASP.Net/webservice/webservice/obj
WebServiceTest/WCF/webservice/Properties/PublishProfiles/
WebServiceTest/WCF/webservicecaller/Library
WebServiceTest/WCF/webservicecaller/webservicecaller.sln
WebServiceTest/WCF/webservicecaller/webservicecaller.CSharp.csproj
WebServiceTest/WCF/webservice/bin
WebServiceTest/WCF/webservice/obj
SortExamples/build
KDTree/build
